*{
  margin: 0;
  padding: 0;
}

$yellow: hsl(47, 88%, 63%);
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 50%);
$Black: hsl(0, 0%, 7%);

@font-face {
  font-family: "figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf");
}


body{
  font-family: "figtree";
  color: $Black;
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img {
  vertical-align: top;
}
main {
  background-color: $White;
  border-radius: 16px;
  box-shadow: 9px 12px $Black;
  border: 2px solid $Black;
  padding: 24px;
  max-width: 336px;
  margin: 24px;
}

.cover {
  border-radius: 8px;
  height: 200px;
  width: 100%;
  object-fit:cover;
}

.lala {
  display: flex;
  flex-direction: column;
  p {
    font-size: 12px;
  }
}

.learning {
  background-color: $yellow;
  border-radius: 4px;
  font-weight: bold;
  padding: 8px 12px;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-right: auto;
}

.prologue {
  h1 {
    font-weight: 800;
    margin: 24px 0;
    font-size: 21px;
   }
  p {
    margin: 24px 0;
    font-weight: 500;
    color: $Grey;
    font-size: 14px;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover{
      color: $yellow;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  img {
    width: 34px;
    margin-right: 10px;
  }
  p {
    font-weight: bold;
  }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


